<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="title">
    <title>flock</title>
</head>
<head th:fragment="imports">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/react/react.js"></script>
    <script src="bower_components/react/react-dom.js"></script>
    <script src="bower_components/reflux/dist/reflux.js"></script>
    <script src="js/actions/eventActions.js"></script>
    <script src="js/stores/eventStore.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
</head>
<body>
</body>
</html>