<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="title">
    <title>flock</title>
</head>
<head th:fragment="imports">
    <!--Jquery-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>

    <!--React-->
    <script src="/bower_components/react/react.js"></script>
    <script src="/bower_components/react/react-dom.js"></script>

    <!--Reflux-->
    <script src="/bower_components/reflux/dist/reflux.js"></script>

    <!--PickADate.js-->
    <script src="/bower_components/pickadate/lib/compressed/picker.js"></script>
    <script src="/bower_components/pickadate/lib/compressed/picker.date.js"></script>
    <script src="/bower_components/pickadate/lib/picker.time.js"></script>
    <link rel="stylesheet" href="/bower_components/pickadate/lib/themes/default.css"/>
    <link rel="stylesheet" href="/bower_components/pickadate/lib/themes/default.date.css"/>
    <link rel="stylesheet" href="/bower_components/pickadate/lib/themes/default.time.css"/>



    <!--BootStrap-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!--Font Awesome-->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css"/>

    <!--Custom JS-->
    <script src="/js/actions/eventActions.js"></script>
    <script src="/js/stores/eventStore.js"></script>
    <script src="/js/actions/userActions.js"></script>
    <script src="/js/stores/userStore.js"></script>
    <script src="/js/actions/connectionActions.js"></script>
    <script src="/js/stores/connectionStore.js"></script>
    <script src="/js/actions/navActions.js"></script>
    <script src="/js/stores/navStore.js"></script>
    <script src="/js/actions/pictureActions.js"></script>
    <script src="/js/stores/pictureStore.js"></script>
    <script src="/js/actions/searchActions.js"></script>
    <script src="/js/stores/searchStore.js"></script>
    <script src="/js/components_compiled/NavBar.js"></script>
    <script src="/js/actions/eventInviteActions.js"></script>
    <script src="/js/stores/eventInviteStore.js"></script>

</head>
</html>