<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:remove="tag" th:include="fragments/head :: title" />
    <head th:remove="tag" th:include="fragments/head :: imports" />
</head>
<body>
    <div id="create_event"></div>
    <script src="/js/components_compiled/TagList.js"></script>
    <script src="/js/components_compiled/ConnectionList.js"></script>
    <script src="/js/components_compiled/CreateEvent.js"></script>

    <body th:remove="tag" th:include="fragments/foot :: footer"/>
</body>
</html>