<!DOCTYPE html>
<html lang="en">
<head>
    <title>flock</title>
</head>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/react/react.js"></script>
<script src="bower_components/react/react-dom.js"></script>
<script src="bower_components/reflux/dist/reflux.js"></script>
<script src="js/actions/eventActions.js"></script>
<script src="js/stores/eventStore.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
<body>

<div id="event_div"></div>
<script src="js/components_compiled/EventLine.js"></script>
<script src="js/components_compiled/EventList.js"></script>
<script src="js/components_compiled/HomePage.js"></script>
</body>
</html>