<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/react/react.js"></script>
    <script src="bower_components/react/react-dom.js"></script>
</head>
<body>
<div id="react_div"></div>
<script type="text/babel" src="js/components/test.js"></script>
hi
<p th:text="${users}"></p>
</body>
</html>