<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:remove="tag" th:include="fragments/head :: title"/>
    <head th:remove="tag" th:include="fragments/head :: imports"/>
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script th:src="@{https://maps.googleapis.com/maps/api/js(key='AIzaSyBmY2VCKrLCs1xOLypS7v6AjifNp7s_sTY')}"></script>
    <script src="/js/components_compiled/Map.js"></script>
    <script src="/js/components_compiled/MapPage.js"></script>

    <body th:remove="tag" th:include="fragments/foot :: footer"/>
</body>
</html>